<div ng-controller="countryCreateController">
    <section class="panel">
        <header class="panel-heading">
            Thêm mới quốc gia
        </header>
        <div class="panel-body">
            <form class="form-horizontal " method="post" enctype="multipart/form-data" ng-submit="AddCountry()">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tên nước</label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="country.CountryName" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mã nước</label>
                    <div class="col-sm-3">
                        <input type="text" ng-model="country.CountryCronyms" class="form-control">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cờ</label>
                    <div class="col-sm-6">

                        <input type="file" fileread="country.CountryFlag" class="form-control" accept=".jpg,.jpeg,.png">

                    </div>
                </div>
                <div class="form-group" ng-if="country.CountryFlag">
                    <label class="col-sm-2 control-label">Ảnh</label>
                    <div class="col-sm-6">

                        <img ng-src="data:image/jpeg;base64,{{country.CountryFlag}}" width="128px" height="128px" />

                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="col-sm-2 control-label">File</label>
                    <div class="col-sm-6">

                        <input type="file" filedirective filetype="{{country.FileType}}" filename="{{country.FileUploadName}}" class="form-control" accept=".jpg,.jpeg,.png">

                    </div>
                </div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Trạng thái</label>
                    <div class="col-sm-10">
                        <select class="form-control m-bot15" ng-model="country.CountryStatus">
                            <option value="1" selected>Hoạt động</option>
                            <option value="2">Tạm ngưng</option>


                        </select>
                    </div>
                </div>
                <div class="form-group">
                   
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Lưu</button>
                    </div>
                </div>
              
            </form>
        </div>
    </section>


</div>